VITE_SUPABASE_URL=https://dxgzgbmymjtgchnmiqgw.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_e4IPVpRwovJMieyNURH5fw_APRGNPrl
VITE_SUPABASE_SLUG=hgagy
VITE_SUPABASE_STORAGE_BUCKET=store-assets
VITE_STORE_WHATSAPP=201555221816
